.focus > h2 {
    text-align: center;
    font-weight: 100;
    font-size: 4rem;
}

.focus-info {
    margin-top: 4rem;
}

.focus-item > h4 {
    color: #24afa8;
    font-weight: 200;
}

.focus {
    color: #000000;
    font-weight: 200;
    line-height: 2rem;
}
