html,
body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.text-blue {
    color: #24afa8;
}

.bg-blue {
    background-color: #24afa8;
}

.text-light-blue {
    color: #1f6aa5;
}

.bg-light-blue,
.btn-blue {
    background-color: #1f6aa5;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
