body {
    font-family: "Poppins", sans-serif;
}

.text-blue {
    color: #24afa8;
}

.bg-blue {
    background-color: #24afa8;
}

.text-light-blue {
    color: #1f6aa5;
}

.bg-light-blue,
.btn-blue {
    background-color: #1f6aa5;
}
