html,
body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-color: white;
}

.uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

text-black {
    color: #787777;
}

.text-blue {
    color: #24afa8;
}

.bg-blue {
    background-color: #24afa8;
}

.text-light-blue {
    color: #1f6aa5;
}

.bg-light-blue,
.btn-blue {
    background-color: #1f6aa5;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.italics {
    font-style: italic;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.breathing {
    width: 180px;
    padding: 12px;
    margin: 50px auto;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    font-family: "Lantinghei SC";
    font-size: 16px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    text-align: center;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #24afa8;
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        background-color: #1f6aa5;
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        background-color: #24afa8;
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        background-color: #1f6aa5;
    }
}

.typing-effect {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: typing 1s steps(20, end) forwards;
    font-size: 1.6rem;
    width: 0;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.f-w-100 {
    font-weight: 100 !important;
}

.f-w-200 {
    font-weight: 200 !important;
}

.display-7 {
    font-size: 1.5rem;
}
