.header {
    margin-top: 6rem;
}

.header-image > img {
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.header-content {
    text-align: center;
    padding: 1rem;
}

.header-content > h1 {
    font-size: 20px;
    font-weight: 800;
}

.header-content > h3 {
    font-size: 14px;
    padding: 1rem;
}

@media (min-width: 641px) {
    .header {
        margin-top: 5rem;
    }

    .header-content > h1 {
        font-size: 55px;
        font-weight: 100;
        color: aliceblue;
    }

    .header-content > h3 {
        font-size: 14px;
        padding: 1rem;
    }

    .header-content {
        z-index: 1000;
        position: relative;
        top: -370px !important;
    }
}

.btn-cta {
    background-color: #1f6aa5;
    width: 9rem;
    padding: 1rem;
    text-align: center;
    margin: auto;
}

.btn-cta:hover {
    filter: brightness(85%);
    cursor: pointer;
}
