.header {
    margin-top: 6rem;
}

.header-image > img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.header-content {
    text-align: center;
    padding: 1rem;
}

.header-content > h1 {
    font-size: 20px;
    font-weight: 800;
}

.header-content > h3 {
    font-size: 14px;
    padding: 1rem;
}

@media (min-width: 641px) {
    .header {
        margin-top: 6rem;
    }

    .header-content > h1 {
        font-size: 55px;
        font-weight: 100;
        color: aliceblue;
    }

    .header-content > h3 {
        font-size: 14px;
        padding: 1rem;
    }

    .header-content {
        z-index: 1000;
        position: relative;
        top: -350px !important;
    }
}
