.menu {
    background-image: linear-gradient(
        135deg,
        rgba(26, 188, 156, 0.5) 0%,
        rgba(142, 68, 173, 0.5) 100%
    );
}

.logo > img {
    height: 5rem;
    width: 5rem;
}

.color-secondary {
    color: #24afa8 !important;
}
.color-primary {
    color: #1f6aa5;
}

.bg-secondary-c {
    background-color: #24afa8;
}
.bg-primary-c {
    background-color: #1f6aa5;
}

ul > li > a:hover {
    background-color: #24afa8 !important;
    color: antiquewhite !important;
    border-radius: 5px;
}
.pay-detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.pay-detail > img {
    height: 4rem;
    width: 4rem;
}

.pay-detail > span {
    /*font-size: 1.2rem;*/
    color: #24afa8;
    font-weight: 200;
}

@media (max-width: 641px) {
}
