.logo > img {
    height: 5rem !important;
    width: 5rem !important;
}

.text-blue {
    color: #24afa8 !important;
}

.bg-blue {
    background-color: #24afa8 !important;
}

.text-light-blue {
    color: #1f6aa5 !important;
}

.bg-light-blue,
.btn-blue {
    background-color: #1f6aa5 !important;
}
