.profile {
    font-weight: 200;
    color: #000000;
}

.profile-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 4rem;
}

.profile > h2 {
    padding: 3rem 2rem 3rem 2rem;
    font-weight: 300;
    font-size: 3rem;
    line-height: 4rem;
}

.profile-card {
    width: 25rem;
    text-align: center;
    padding: 0 2rem;
}

.profile-text > h4 {
    font-weight: 200;
    text-transform: uppercase;
}

.icon {
    border: 1px solid #24afa8;
    border-radius: 100px;
    height: 5rem;
    width: 5rem;
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
}

.icon > ion-icon {
    height: 3rem;
    width: 3rem;
    text-align: center;
}

.profile-text {
    text-align: left;
}

@media (min-width: 641px) {
    .profile {
        margin: 3rem auto;
    }

    .profile-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
