.services > h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
}

.service > h4 {
    color: #24afa8;
    font-weight: 200;
}

.service {
    color: #787777;
    font-weight: 200;
    line-height: 2rem;
}
