#what {
    margin: 6rem auto;
    padding: 1rem 6rem 6rem 6rem;
    background-color: aliceblue;
}

.what {
    margin: 6rem auto;
    background-color: aliceblue;
    font-weight: 200;
    font-size: 1rem;
}

.what > h3 {
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.what > p {
    border-left: 2px solid #24afa8;
    padding: 2rem 2rem;
    margin-left: 2rem;
}
